@import "tailwindcss";

@layer base {
  * {
    @apply border-slate-200;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}